.hello {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6vw;
  -webkit-animation-name: wave;
          animation-name: wave;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  font-family: 'Alfa Slab One', cursive;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
}

.hello:nth-of-type(1) {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 0.55s;
          animation-delay: 0.55s;
}

.hello:nth-of-type(2) {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.hello:nth-of-type(3) {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 0.05s;
          animation-delay: 0.05s;
}

.hello:nth-of-type(4) {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}

@-webkit-keyframes wave {
  40%, 50% {
    transform: translate(-50%, -65%) scale(1.05);
  }
  0%, 90%, 100% {
    transform: translate(-50%, -45%) scale(0.95);
  }
}

@keyframes wave {
  40%, 50% {
    transform: translate(-50%, -65%) scale(1.05);
  }
  0%, 90%, 100% {
    transform: translate(-50%, -45%) scale(0.95);
  }
}

.footer{
  font-family: 'Helvetica';
  width:100%;
  position:fixed;
  bottom: 3em;
  text-align: center;
}

a:link {
 color: #ad0023;
}

a:visited {
 color: green;
}

a:hover {
 color: #ADF5FF;
}

a:active {
 color: blue;
}